header {
    padding: 20px 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        display: inline-block;
        width: 100%;
        max-width: 120px;
    }
}