ul,
ol {
  margin: 0;
  padding: 0 0 0 18px;
  list-style-type: inherit;
  font-size: 14px;
  &.two-col {
    column-count: 2;
    column-gap: 45px;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}