<form class="" action="index.html" method="post">

	<div class="fieldset search-bar">
		<label for="search-field">
			<span class="text">Search input</span>
			<input id="search-field" type="text" name="Search Input" value="">
		</label>
		<button id="search-submit" type="button" name="button"><i class="fas fa-search"></i> Search</button>
		<button type="reset">Reset</button>
	</div>

	<div class="fieldset filter-search">
		<div class="filters-main">
			<label for="filter-people">
				<span>People</span>
				<input id="filter-people" type="radio" name="filter-by" value="people" checked>
			</label>
			<label for="filter-experience">
				<span>Experience</span>
				<input id="filter-experience" type="radio" name="filter-by" value="experience">
			</label>
			<label for="filter-events">
				<span>Events</span>
				<input id="filter-events" type="radio" name="filter-by" value="events">
			</label>
			<label for="filter-careers">
				<span>Careers</span>
				<input id="filter-careers" type="radio" name="filter-by" value="careers">
			</label>
		</div>
		<div class="search-options">
			<ul>
				<li><a href="javascript:void(0)"><i class="fas fa-caret-up"></i> Filters</a></li>
				<li><a href="javascript:void(0)"><i class="fal fa-list-alt"></i> List View</a></li>
				<li><a href="javascript:void(0)"><i class="fal fa-th-large"></i> Grid View</a></li>
			</ul>
		</div>
	</div>

	<div class="fieldset advanced-filters">
		<div class="col">
			<label for="filter-title">
				<span>Title</span>
				<select id="filter-title" class="" name="filter-title">
					<option value="all">All</option>
					<option value="title-1">Title 1</option>
					<option value="title-2">Title 2</option>
					<option value="title-3">Title 3</option>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="filter-industry">
				<span>Industry</span>
				<select id="filter-industry" class="" name="filter-industry">
					<option value="all">All</option>
					<option value="title-1">Industry 1</option>
					<option value="title-2">Industry 2</option>
					<option value="title-3">Industry 3</option>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="filter-services">
				<span>Services</span>
				<select id="filter-services" class="" name="filter-services">
					<option value="all">All</option>
					<option value="title-1">Services 1</option>
					<option value="title-2">Services 2</option>
					<option value="title-3">Services 3</option>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="filter-focus-area">
				<span>Areas of Focus</span>
				<select id="filter-focus-area" class="" name="filter-focus-area">
					<option value="all">All</option>
					<option value="title-1">Areas of Focus 1</option>
					<option value="title-2">Areas of Focus 2</option>
					<option value="title-3">Areas of Focus 3</option>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="filter-office">
				<span>Offices</span>
				<select id="filter-office" class="" name="filter-office">
					<option value="all">All</option>
					<option value="title-1">Office 1</option>
					<option value="title-2">Office 2</option>
					<option value="title-3">Office 3</option>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="filter-bar-admissions">
				<span>Bar & Court Admissions</span>
				<select id="filter-bar-admissions" class="" name="filter-bar-admissions">
					<option value="all">All</option>
					<option value="title-1">Bar and Court Admissions 1</option>
					<option value="title-2">Bar and Court Admissions 2</option>
					<option value="title-3">Bar and Court Admissions 3</option>
				</select>
			</label>
		</div>
		<div class="col">
			<label for="filter-language">
				<span>Language</span>
				<select id="filter-language" class="" name="filter-language">
					<option value="all">All</option>
					<option value="title-1">Language 1</option>
					<option value="title-2">Language 2</option>
					<option value="title-3">Language 3</option>
				</select>
			</label>
		</div>
	</div>
</form>