<section id="work" class="layout projects">
    <div class="wrapper">
        <div class="intro row">
            <div class="col">
                <h2>Selected Work</h2>
                <h3>Things I've Made</h3>
            </div>
        </div>
        <div class="work row">
            <div class="col">
                <div class="item">
                    <div class="row">
                        <h2 class="title"><a href="https://forageplants.com/" target="_blank">Forage</a></h2>
                        <a class="link" href="https://forageplants.com/" target="_blank">Take a peek ⟶</a>
                    </div>
                    <div class="row">
                        <div class="description">
                            <p>A cool brand and website for a growing plant shop.</p>
                            <ul>
                                <li>Shopify / Ecommerce</li>
                                <li>Liquid, jQuery, SCSS</li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="https://forageplants.com/" target="_blank"><img src="assets/img/forage-logo.jpg" alt="Forage website"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <h2 class="title"><a href="https://hosparushealth.org/" target="_blank">Hosparus Health</a></h2>
                        <a class="link" href="https://hosparushealth.org/" target="_blank">View here ⟶</a>
                    </div>
                    <div class="row">
                        <div class="description">
                            <p>A smooth, approachable website for a difficult reality. Built at Mightily.</p>
                            <ul>
                                <li>WordPress</li>
                                <li>HTML, PHP, JavaScript, SCSS</li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="https://hosparushealth.org/" target="_blank"><img src="assets/img/hosparus-health-website.jpg" alt="Hosparus Health website"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <h2 class="title"><a href="https://investorsheritage.com/" target="_blank">Investor's Heritage</a></h2>
                        <a class="link" href="https://investorsheritage.com/" target="_blank">Check it out ⟶</a>
                    </div>
                    <div class="row">
                        <div class="description">
                            <p>A classy, professional site that elevated an insurance company. Built at Mightily.</p>
                            <ul>
                                <li>WordPress</li>
                                <li>HTML, PHP, JavaScript, SCSS</li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="https://investorsheritage.com/" target="_blank"><img src="assets/img/investors-heritage.jpg" alt="Investor's Heritage website"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <h2 class="title"><a href="https://gravelybrewing.com/" target="_blank">Gravely Brewing</a></h2>
                        <a class="link" href="https://gravelybrewing.com/" target="_blank">Click around ⟶</a>
                    </div>
                    <div class="row">
                        <div class="description">
                            <p>A clever site for a hip, local brewery slinging the best beer, tunes, and food in town. Built at Mightily.</p>
                            <ul>
                                <li>WordPress</li>
                                <li>HTML, PHP, JavaScript, SCSS</li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="https://gravelybrewing.com/" target="_blank"><img src="assets/img/gravely.jpg" alt="Gravely Brewing website"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <h2 class="title"><a href="https://metrounitedway.org/" target="_blank">Metro United Way</a></h2>
                        <a class="link" href="https://metrounitedway.org/" target="_blank">See for yourself ⟶</a>
                    </div>
                    <div class="row">
                        <div class="description">
                            <p>A website to unite a community — featuring gorgeous, full-bleed images and eye-catching headlines. Built at Mightily.</p>
                            <ul>
                                <li>WordPress</li>
                                <li>HTML, PHP, JavaScript, SCSS</li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="https://metrounitedway.org/" target="_blank"><img src="assets/img/metro-united-way.jpg" alt="Metro United Way website"></a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <h2 class="title"><a href="http://crowned-events.com/" target="_blank">Crowned Events</a></h2>
                        <a class="link" href="http://crowned-events.com/" target="_blank">Explore ⟶</a>
                    </div>
                    <div class="row">
                        <div class="description">
                            <p>A clean identity and website update to show off the exquisite work of a SoCal wedding planner.</p>
                            <ul>
                                <li>Craft CMS</li>
                                <li>HTML, Twig, JavaScript, SCSS</li>
                            </ul>
                        </div>
                        <div class="image">
                            <a href="http://crowned-events.com/" target="_blank"><img src="assets/img/crowned-events.jpg" alt="Crowned Events website"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>